// Button Styles
button.btn {
	@apply bg-transparent rounded border duration-300;

	&.btn-primary.btn-filled {
		@apply text-gray-light font-bold hover:text-white hover:bg-yellow-light-dark hover:border-yellow-light-dark bg-yellow-dark border-yellow-dark;
		@apply focus:ring-slate-200 focus:ring-2 focus:ring-offset-2 focus:ring-offset-black focus:outline-none;
	}

	&.btn-primary.btn-outlined {
		@apply border-yellow text-yellow hover:text-white hover:bg-yellow;
	}
}

// CheckBox Styles

.checkbox-wrapper {
  display: block;
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
	  position: absolute;
	  opacity: 0;
	  cursor: pointer;
	  height: 0;
	  width: 0;
	}

	&:hover input ~ .checkmark {
	  border-color: #E5AD26;

	  &:after {
	  	border-color: #E5AD26;
	  }
	}

	.checkmark {
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 22px;
	  width: 22px;
	  background-color: transparent;
	  border: 2px solid #8492a6;
	  border-radius: 4px;
	}

	.checkmark:after {
		content: "";
	  position: absolute;
	  display: none;
	  left: 6px;
	  top: 1px;
	  width: 7px;
	  height: 13px;
	  border: solid #8492a6;
	  border-width: 0 3px 3px 0;
	  -webkit-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	  transform: rotate(45deg);
	}

	input:checked ~ .checkmark:after {
	  display: block;
	}
}
